body {
  background-color: #191765;
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-section {
  min-height: 650px;
  background-image: url("image/bg-two-circles-header-bgimg.png");
  background-repeat: no-repeat;
  background-size: 100% 563px;
}

.myname {
  color: #9391ff;
}

.menu-icons {
  display: none;
}

.jobtitle {
  color: #dfe1e6;
}

.abilities {
  height: 170px;
  font-size: 20px;
  font-weight: 400px;
  color: #b3bac5;
}

.vector4 {
  display: block;
  width: 100%;
  margin: auto;
}

hr {
  width: 300px;
  border: 1px solid #646369;
  margin: auto;
}

.ppf-head li {
  border: none;
  padding: none;
  font-size: 14.1935px;
  color: #fff;
  background-color: #191765;
}
.frmwk {
  color: #f5f5ff;
  font-size: 15px;
}

.frwk-heada {
  color: #9390ff;
  font-weight: 700;
  font-size: 18px;
}

.work-list-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2250px;
  background-image: url("image/bg-contact-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 2280px;
}

.my-work {
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 40px;
  color: #9490ff;
  padding-bottom: 20px;
}
.display-project1,
.display-project2,
.display-project3,
.display-project4 {
  height: 560px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 60px;
}

.display-project1 {
  flex-direction: row;
}

.display-project2 {
  flex-direction: row-reverse;
}

.display-project3 {
  flex-direction: row;
}

.display-project4 {
  flex-direction: row-reverse;
}

.project-flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-left: 23px;
}

.flex-item {
  color: white;
  align-items: center;
  width: 100%;
}

.holdtext {
  width: 100%;
  color: #dfe1e6;
  font-size: 20px;
}

.navlang-flex {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.subflex-item {
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.project-text-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 40%;
  height: 550px;
  margin-top: 20px;
}

.hh2 {
  display: inline-block;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.placeholder-div {
  width: 59%;
  height: 550px;
  padding-bottom: 10px;
}

.ph-image {
  width: 95%;
  height: 550px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
}

.navlang-flex li {
  display: inline-block;
  width: 100%;
}

.seeproject {
  display: inline-block;
  color: #edecff;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 12px 12px 12px;
  width: 82px;
  height: 24px;
  background-color: #7d73fc;
  margin-top: 60px;
  line-height: 24px;
  text-align: center;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.seep {
  display: flex;
  justify-content: left;
  height: 10px;
  width: 100%;
  padding-bottom: 10px;
}

.contact-section,
.foota {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: auto;
}

.contact-section {
  margin-top: 80px;
}

.cc-sect {
  width: 100%;
}

.cc-top {
  padding-top: 40px;
}

.contact {
  display: block;
  width: 60%;
  color: #9390ff;
  font-size: 32px;
  text-align: center;
  padding-bottom: 30px;
  margin: auto;
}

.mble {
  display: none;
}

.text-invite {
  width: 60%;
  height: 105px;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
  margin: auto;
}

.myform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.myform input {
  width: 60%;
  height: 18px;
  color: #171965;
  font-size: 17px;
  font-weight: 400;
  background-color: #f7f3ff;
  border-radius: 2px;
  padding: 15px 16px 15px;
  margin-bottom: 15px;
}

.myform input.inp-email {
  background-color: white;
  color: #6d6c70;
}

.myform textarea {
  width: 60%;
  height: 104px;
  padding: 14px 16px 14px;
  color: #6d6c70;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}

.myform .dsk {
  display: block;
  width: 160px;
  height: 48px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 12px;
  background-color: #9390ff;
  border-style: none;
  transition: width 3s, backgeround-color 4s;
}

.myform .mmb {
  display: none;
}

.foota .social {
  padding-bottom: 1px;
  width: 40%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.contact-image {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 25px;
}

.img-workDivider {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.myform button.dsk:disabled {
  background-color: #2a2b33;
}

.myform button.dsk:active {
  background-color: #5e42d7;
}

.myform button.dsk:hover {
  width: 120px;
  background-color: #7d73fc;
  cursor: pointer;
  box-shadow: 1px 8px 16px;
}

.myform button.dsk:enabled {
  background-color: #7d73fc;
}

.click-me {
  width: 50%;
  animation: 3s infinite alternate slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    }

  to {
    margin-left: 0%;
    width: 100%;
}
}

.seeproject:hover {
  width: 170px;
  height: 65px;
  background-color: palevioletred;
}
